$mycolor: rgb(252, 106, 106);
$wrapper_color: white;
$primary_color: rgb(87, 87, 87);
$secondary_color: rgb(151, 6, 6);



@mixin rounded-shaded-box($xoffset, $yoffset, $rounded-corners, $border-color){
    box-shadow:$xoffset $yoffset 10px #5d5d5d;	  
    border-radius:$rounded-corners;    
    border:3px solid $border-color;    
}

img {
    max-width: 100%;
    height: auto;
    @include rounded-shaded-box(5px, 5px, 0px, $primary_color);
 
}
header{
    background-color: black;
}
.wrapper{
    max-width: 1005px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: $wrapper_color;
    
}

header h1 {
    margin: 0;
    line-height: 64px;
    color:$secondary_color;
    background-color: black;
}

.banner {
    position: relative;
   
}

body{
    background-color: rgb(58, 58, 58);
    margin:0;
}

table{
    width:100%;
}

th, tr{
    width: 500px;
    text-align: center;
}

.dice img{
   width: auto;
   height: auto;
   max-width: 100px;
   max-height: 50px;
}

table, th, td{
    border:0px solid black;
    border-collapse: collapse;
    
}

#table{
    overflow-x: auto;
}

#show-result{
    width:400px;
    padding:10px;
    background-color: $primary_color;
    color:white;
    border:solid 4px black;
    box-shadow:5px 5px 5px rgb(182, 39, 39), 5px 5px 5px black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    opacity:0;
    pointer-events: none;
}
#btn-close{
    position:absolute;
    top:10px;
    right:10px;
    font-weight: bold;
    background-color: white;
    color:black;
    border:solid 1px black;
    cursor:pointer;
    /* ensure pointer events will apply to the button */
    pointer-events: all;
}

#buttons-container{
    max-width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
   
  
}

#buttons-container button{
  
    color: $secondary_color;
}